@import "./theme.scss";

.main-layout-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: none;
  box-sizing: border-box;
  color: black;
  scrollbar-gutter: stable both-edges;
  background-color: $secondary-light-bg-color;

  .outlet-component-container {
    width: 90%;
    height: inherit;
  }
}

@media screen and (max-width: 932px) {
  .main-layout-container {
    .outlet-component-container {
      width: 100%;
    }
  }
}
